@import "./variables.scss";
@import "./responsive/media1024px.scss";
@import "./responsive/media575px.scss";

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: "GraphikMedium", sans-serif !important;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "GraphikSemiBold", sans-serif !important;
    font-weight: 600;
}

p {
    font-family: "GraphikRegular", sans-serif !important;
    font-weight: 400;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.section {
    padding: 5rem 2rem;
}

#benefits,
#nu-conta,
#credit-card,
#rewards,
#reinventing,
#nu-community,
#blog,
#footer {
    padding: 4rem 5rem;
    // min-height: 100vh;
    position: relative;

    h2 {
        color: $black;
        font-weight: 500;
        font-size: 2.9rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    a {
        color: $primary;
        font-weight: 500;
        font-size: 1.12rem;
    }

    .arrow {
        margin-left: 5px;
        font-size: 16px;

        &.rotate {
            transform: rotateZ(-45deg);
        }
    }
}

.social-icon {
    margin-left: 30px;
}