@font-face {
    font-family: "GraphikBold";
    src: url("../fonts/GraphikBold.otf") format("woff"),
         url("../fonts/GraphikBold.otf") format("woff");
}

@font-face {
    font-family: "GraphikLight";
    src: url("../fonts/GraphikLight.otf") format("woff"),
         url("../fonts/GraphikLight.otf") format("woff");
}


@font-face {
    font-family: "GraphikMedium";
    src: url("../fonts/GraphikMedium.otf") format("woff"),
         url("../fonts/GraphikMedium.otf") format("woff");
}

@font-face {
    font-family: "GraphikRegular";
    src: url("../fonts/GraphikRegular.otf") format("woff"),
         url("../fonts/GraphikRegular.otf") format("woff");
}

@font-face {
    font-family: "GraphikSemiBold";
    src: url("../fonts/GraphikSemibold.otf") format("woff"),
         url("../fonts/GraphikSemibold.otf") format("woff");
}

@font-face {
    font-family: "GraphikThin";
    src: url("../fonts/GraphikThin.otf") format("woff"),
         url("../fonts/GraphikThin.otf") format("woff");
}
